crash-reports
journeymap
mods
local
logs
saves
crafttweaker.log
/options.txt
usercache.json
usernamecache.json
.curseclient
resourcepacks
items.csv
.zsrc
minecraftinstance.json
icon.png
server-resource-packs
config/jei/bookmarks.ini
config/jei/jei.cfg
config/jei/searchColors.cfg
config/jei/worldSettings.cfg
config/InvTweaks.cfg
config/splash.properties
config/buildcraft/detailed.properties
config/brandon3055/contributors.json
config/buildcraft/detailed.properties
config/AppliedEnergistics2/VersionChecker.cfg
backups
i18n_update_mod.cfg
JustEnoughCharacters.cfg

