crash-reports
journeymap
mods
local
logs
saves
crafttweaker.log
options.txt
usercache.json
usernamecache.json
.curseclient
resourcepacks
items.csv
.zsrc
minecraftinstance.json
icon.png
server-resource-packs
config/jei
config/InvTweaks.cfg
config/splash.properties
config/buildcraft/detailed.properties
jei
config/brandon3055/contributors.json
config/buildcraft/detailed.properties
