crash-reports
journeymap
mods
local
logs
saves
crafttweaker.log
options.txt
usercache.json
usernamecache.json
.curseclient
resourcepacks
items.csv
.zsrc
minecraftinstance.json
icon.png
server-resource-packs
